body {
    font-size: 16px;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.watch {
    border: 1px solid black;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.btn-container {
    margin-top: 2rem;
}


.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid  black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    width: 10rem;
    outline: none;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
  }
  
.active:hover {
    color: white;
    background: black;
}

.hidden {
    display: none;
}