body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1rem;
  height: 1rem;
}

.logo > a {
  text-decoration: none;
  color: blueviolet;
}

.link > a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: blueviolet;
}

.img {
  display: none;
}

.hidden {
  display: none;
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.mobile > a {
  text-decoration: none;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: blueviolet;
}

@media screen and (max-width: 500px) {
  .link {
    display: none;
  }
  .img {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .content {
    display: none;
  }
}
