.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

table {
    height: 400px;
    width: 400px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
    vertical-align: middle;
}

.button {
    margin-top: 8rem;
}

.timer {
    font-size: 1rem;
    font-weight: 700;
}


#btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid  black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    width: 10rem;
    outline: none;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
  }
  
  #btn:hover {
      color: white;
      background: black;
    }