body {
    font-size: 16px;
    font-family: sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color:  hsl(209, 61%, 16%);
    margin-bottom: 2rem;
    margin-top: -2rem;
}

h2 {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color:  hsl(209, 61%, 16%);
    margin-bottom: 2rem;
}

#btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid  black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  width: 10rem;
  outline: none;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
}

#btn:hover {
    color: white;
    background: black;
  }