body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

.main-content {
  margin: 0 20%;
  margin-top: 0.5rem;
}

.header {
  background-color: blue;
}

.header > h3 {
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.filter-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-btn > p {
  display: inline-block;
}

.input-side {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#inputText {
  width: 30rem;
  height: 1.25rem;
}

.task-manager {
  border: 1px solid gray;
  height: 30rem;
  margin: 0 25%;
  margin-top: 1rem;
  border-radius: 0.25rem;
  overflow: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* border-right: 1px solid gray; */
  padding: 0.25rem;
}

.img1,
.img2 {
  height: 20px;
  margin-right: 0.5rem;
}

.overline {
  text-decoration: line-through;
}

.active-btn {
  background-color: teal;
  color: white;
}

button {
  outline: none;
  border: none;
}
