body {
    font-size: 16px;
    font-family: sans-serif;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.heading {
    background-color: black;
    width: auto;
    border-radius: 0.5rem;
}

h2 {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

#btn {
    margin-top: 3rem;
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid  black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  width: 10rem;
  outline: none;
}

#btn:hover {
    color: white;
    background: black;
  }